<section class="masthead">
    <div class="inner container dark-text text-center">
        <div class="input-group">
            <input type="text" placeholder="Find your something, something, casa now!">
            <button><i class="fa fa-search"></i></button>
        </div>

        <p>Your new favourite tool for staying up to date on dimensions of social media images, mobile devices, and more.</p>
    </div>
</section>

<section class="text">
    <div class="bg-gray light-text md-padding text-center">
        <div class="container">
            <div class="row">
                <h3>Meet Casa.</h3>
                <p>Mopey shawty, mopey shawty, mopey shawty, mopey shawty, mopey shawty, mopey shawty, mopey shawty, mopey shawty, mopey shawty, mopey shawty, mopey shawty, mopey shawty, mopey shawty.</p>
                <a ui-sref="social"><button>Take a look</button></a>
            </div>
        </div>
    </div>
</section>

