<!doctype html>
<html lang="en" ng-app="casa">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-Ua-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Casa</title>
        <meta name="title" content="Casa">
        <meta name="description" content="">

        <meta name="application-name" content="Casa"/>

        <meta property="og:site_name" content="Casa">
        <meta property="og:url" content="http://karelvuong.github.com/Casa">
        <meta property="og:title" content="Casa">
        <meta property="og:description" content="">

        <base href="/"></base>

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body ng-controller="ApplicationController">
        <header>
            <div class="container">
                <div class="pull-left">
                    <a class="logo" ui-sref="main"><img src="/img/logo.png"></a>
                </div>
                <ul class="pull-left">
                    <li><a ui-sref="listings">Listings</a></li>
                    <li ng-if="loggedIn"><a ui-sref="bookmarks">Bookmarks</a></li>
                </ul>
                <ul class="pull-right" ng-if="!loggedIn">
                    <li><a ui-sref="login">Login</a></li>
                    <li><a ui-sref="signup">Signup</a></li>
                </ul>
                <ul class="pull-right" ng-if="loggedIn">
                    <li><a ui-sref="profile">Name</a></li>
                </ul>
            </div>
        </header>

        <div class="site" ui-view></div>

        <!-- <footer class="md-padding">
            <div class="container text-center">
                <ul>
                    <li><a ng-click="toggleLoggedIn()">Toggle login</a></li>
                </ul>
            </div>
        </footer> -->

        <script src="/js/lib/jquery-1.11.0.min.js"></script>
        <script src="/js/lib/angular.min.js"></script>
        <script src="/js/lib/angular-ui-router.min.js"></script>
        <script src="/js/lib/select2.min.js"></script>
        <script src="/js/lib/ui-select2.min.js"></script>

        <script src="/js/app.js"></script>
        <script src="/js/controllers.js"></script>
        <script src="/js/directives.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
